<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ERRO 404</title>
</head>
<body>
  <h1 style="text-align: center; margin-top: 10px; font-size: 45px; font-weight: bold;">ERRO 404</h1>
  <p style="text-align: center; font-size: 30px;">Sua página não foi encontrada!</p>
</body>
</html>